Debian/Ubuntu OS based installation, with root user:

-- Packages installation

apt update
apt install -y build-essential git wget tar libpcre3-dev libssl-dev libpcap-dev net-tools locate xsltproc ipcalc dnsutils netcat

Verification:
xsltproc -V
ipcalc -v

-- Masscan installation

cd /tmp
git clone https://github.com/robertdavidgraham/masscan.git
cd masscan
make -j$(nproc)
mv bin/masscan /usr/bin/
updatedb

Verification:
masscan -V

-- Nmap installation

cd /tmp
wget https://nmap.org/dist/nmap-7.90.tgz
tar -xvzf nmap-7.90.tgz
cd nmap-7.90
./configure
make -j$(nproc)
make install
updatedb

Verification:
nmap -V

-- Vulners.nse Nmap Script installation

cd /tmp
git clone https://github.com/vulnersCom/nmap-vulners
cp nmap-vulners/vulners.nse /usr/local/share/nmap/scripts/
updatedb
nmap --script-updatedb

Verification:
nmap -sV --script vulners <target>
